<nav id = "navbar">
  <a href = "#" class = "nav-elem">Home</a>
  <a href = "#" class = "nav-elem">Menu</a>
  <a href = "#" class = "nav-elem">Booking</a>
  <a href = "#" class = "nav-elem">History & Events</a>
  <a href = "#" class = "nav-elem">About Us</a>

  <div class = "nav-elem search">
    <i class = "fa fa-search " onclick="popSearchBox('open')"></i>
  </div>
</nav>
