    <!-- Search box -->
    <div class = "search-box-parent" id = "search-box">
      <div class = "search-box">
        <p class = "search-panel-close-btn" onclick = "popSearchBox('close')"><i class = "fa fa-close"></i></p>
        <div class="search-content">
          <p class = "search-text"> Search: </p>
          <input type="text" class="search-input" name = "Type here..." placeholder="Search">
          <button class = "search-button panel ripple">Search</button>
        </div>
      </div>
    </div>